body {

}
h1 {
text-align: center;
margin: 30px 0 50px;

}
.gallery {
	margin: 10px 50px;
}
.gallery img {
	width: 330px;
	padding: 5px;
	
	transition: 1s;
}
.gallery img:hover {
		filter: grayscale(0%);
		transform: scale(1.1);
}